.editorTitle {
  /* position: relative; */
  background-color: white;
  height: 20px;
  border: 0px solid #9a9a9a;
  border-bottom-width: 1px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

.editorContent {
  height: calc(100% - 31px);
  transform: translate(0px, 0px);
}
